# Polygon RPC endpoint (Amoy o Mainnet)
POLYGON_RPC_URL=
POLYGON_CHAIN_ID=
POLYGON_MIN_GAS_PRICE_GWEI=
POLYGON_MAX_GAS_PRICE_GWEI=
LAMBDA_DEBUG_ERRORS=

# POLYGON_GAS_PRICE_GWEI=
# POLYGON_GAS_LIMIT=

# Private key de la wallet firmante 
PRIVATE_KEY=

# Se usa en RegisterTransaction si no se pasa por argumento
CONTRACT_ADDRESS=
DEPLOY_TX_HASH=
#Chequeable en: https://amoy.polygonscan.com

# Datos del registro
TX_EMISOR=
TX_RECEPTOR=
TX_AMOUNT=
TX_REFERENCE=
